<h1>Amount owed: £1000</h1>

<p>This covers the <strong>21 days</strong> between moving in and the first rent installment being owed</p>

<%= link_to root_path do %>
	<button type="button" class="btn btn-secondary">Back</button>
<% end -%>
